body {
    color: white;
    background-color: #55414A;
}

header {
    background-color: #55414A;
    border-color: #BCA5AF;
}

header a:link {
    color: white;
}
  
header a:visited {
    color: white;
}
  
header a:hover {
    color: whitesmoke;
}
  
header a:active {
    color: white;
}

aside {
    background-color: #B77F00;
}

.project-boxes {
    background-color: #E94CA2;
}