body {
  color: white;
  background-color: #55414a;
}

header {
  background-color: #55414a;
  border-color: #bca5af;
}

header a:link {
  color: white;
}

header a:visited {
  color: white;
}

header a:hover {
  color: whitesmoke;
}

header a:active {
  color: white;
}

.picture-of-me {
  border-top-color: #bca5af;
  border-bottom-color: #bca5af;
}

aside {
  background-color: #b77f00;
}

aside a:link {
  color: white;
}

aside a:visited {
  color: white;
}

aside a:hover {
  color: whitesmoke;
}

aside a:active {
  color: white;
}

.project-boxes {
  background-color: #7d4e00;
}

footer {
  background-color: #bca5af;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: whitesmoke;
}

footer a:active {
  color: white;
}

/* for wider displays in index */
@media (min-width: 800px) {
  #h4InsideBox {
    background-color: transparent;
  }

  .projects {
    background-color: #b77f00;
  }
}
