body {
    color: white;
    background-color: #55414A;
}

header {
    background-color: #55414A;
    border-color: #BCA5AF;
}

header a:link {
    color: white;
}
  
header a:visited {
    color: white;
}
  
header a:hover {
    color: whitesmoke;
}
  
header a:active {
    color: white;
}

.picture-of-me {
    border-top: #BCA5AF;
    border-bottom: #BCA5AF;
}

aside {
    background-color: #B77F00;
}

aside a:link {
    color: white;
}
  
aside a:visited {
    color: white;
}
  
aside a:hover {
    color: whitesmoke;
}
  
aside a:active {
    color: white;
}

.project-boxes {
    background-color: #7D4E00;
}

footer {
    background-color: #BCA5AF;
}

footer a:link {
    color: white;
}
  
footer a:visited {
    color: white;
}
  
footer a:hover {
    color: whitesmoke;
}
  
footer a:active {
    color: white;
}

/* for wider displays */
@media (min-width: 800px) {
    aside {
      background-color: transparent;
    }

    .projects {
        background-color: #B77F00;
    }
  }