/* code only in contact */
/* footer positioned at the bottom off the viewable screen */
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
        width: 358px;
        margin-top: 50px;
    }
    
    footer {
        flex-shrink: 0;
        margin-bottom: 0;
    }
