/* footer positioned at the bottom off the viewable screen */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 177.703px;
}

main {
  width: 358px;
  margin: 66.6px auto 0 auto;
}

/* for wider displays */
@media (min-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  h2 {
    align-self: center;
  }
}
