/* code in more than one page */

/* Code only in experience */
h2 {
    margin-top: 70px;
}

.experience-pictures {
    border-radius: 1% 1% 1% 1%;
    width: 100%;
    max-width: 300px;
    height: auto;
}