.label-for-form {
    display: block;
    margin: 5px 0;
}

.email-input {
    display: block;
    width: 200px;
}

textarea {
    display: block;
}

button {
    display: block;
    margin: 5px 0;
}
