/* code only in index */
main {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 50px auto 0 auto;
}

h2 {
  align-self: flex-end;
}

/* responsive img */
.picture-of-me {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-radius: 50% 1% 50% 1%;
  width: 100%;
  height: auto;
}

/* for wider displays */
@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
  }

  main {
    margin-top: 100px;
  }
}
