/* code only in index */
h2 {
  text-align: right;
  margin-top: 70px;
}

.picture-space {
  text-align: center;
}

.picture-of-me {
  border-radius: 50% 1% 50% 1%;
  width: 100%;
  max-width: 300px;
  height: auto;
}